.container {
    margin: 1% auto;
    max-width: 500px;
    text-align: center;
}

.timer {
    border: 1px solid gray;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.group {
    margin: 1% 0;
}

.searchbar {
    width: 100%;
    padding: 2%;
}